@use '../vars'  as *;


// =============== HEADER ================

.header {
        background-color: $dark-color;
        color: $light-color;

		// .header__inner

		&__inner {
			padding: 54px 0;
			display: flex;
			justify-content: space-between;
		}

		// .header__logo-block

		&__logo-block {
			display: flex;
			align-items: center;
			column-gap: 25px;
		}

		// .header__logo

		&__logo-text {
			font-family: "FORUM", serif;
			text-transform: uppercase;
			font-size: 28px;
			letter-spacing: 5px;
		}

		// .header__nav

		&__nav {
			display: flex;
			align-items: center;
		}

		// .header__nav-list

		&__nav-list {
			font-size: 22px;
			display: flex;
			column-gap: 55px;
		}

		// .header__list-item

		&__list-item {
		}

		// .header__list-link

		&__list-link {
		}
}

