@use './styles/vars'  as *;
@use './styles/_normalize' as *;

body {
    color: peru;
    background-color: $back;
    user-select: none;
    font-family:  'Roboto', sans-serif;
    font-weight: 700;
}
